html, body {
  height: 100%;
  width: 100%;
}

p {
}
h1 {
  
}

.topnav {
  overflow: hidden;
  background-color: #9AECFE;
  font-size: 70px;
  font-weight: 600;
  background-image: radial-gradient(circle, #0e5200, #bdbdbd);
  padding: 10px;
  color: transparent;
  background-clip: text;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #022b3a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.topnav a.active {
  background-color: #ffffff;
  color: darkgreen;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #f7dfdf;
  }
}

body {
    background-color:hsl(0, 0%, 93%);
  }

#container {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: royalblue;
}

#search {
    display: flex;
    padding: 20px;
    background-color: cornflowerblue;
}

#results {
    display: block;
    padding: 10px;
}

#results .name {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
    list-style-type: none;
}

#searchbar{
  margin: 0 auto;
  display: block;
  width: 200px;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: #FA815C;
}

<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  
}


.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

</style>
</head>
<body>

<button class="button button1">Green</button>
<button class="button button2">Blue</button>

</body>
</html>



